@{
    ViewBag.Title = "Background";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hello! my full name is Alta Louise McKim, and I am originally from Tulsa, OK. 
    I moved to Knox County Ohio when I was six and moved around the county to multiple schools until I was eleven. I now reside in Fredericktown, OH when I am not studying MIS, Marketing, and Business Anlaytics in Athens, OH at Ohio University. 
    I currently am involved with Copeland Scholars, Information Systems and Analytics Professionals, and Sigma Kappa Sorority.</p>
