@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    22 North College Street<br />
    Athens, OH 45701 <br />
    <abbr title="Phone">P:</abbr>
    740.485.5330
</address>

<address>
    <strong>School Email:</strong>   <a href="mailto:Support@example.com">am108217@ohio.edu</a><br />
    <strong>Personal Email:</strong> <a href="mailto:Marketing@example.com">altamckim@gmail.com</a>
</address>